name: Build Natives

on:
  workflow_call:

env:
  LIB_NAME: clarabel_c
  LIB_VERSION: v0.11.1
  REPOSITORY: oxfordcontrol/Clarabel.cpp

jobs:
  build-linux:
    runs-on: ubuntu-latest
    steps:
      - &checkout_lib
        uses: actions/checkout@v5
        with:
          submodules: 'recursive'
          repository: ${{ env.REPOSITORY }}
          ref: ${{ env.LIB_VERSION }}
      - &checkout_patches
        uses: actions/checkout@v5
        with:
          sparse-checkout: patches
          path: this-repo
      - name: Build
        shell: bash
        run: |
          git apply this-repo/patches/*.patch
          cmake -DCMAKE_BUILD_TYPE=Release -DCLARABEL_CARGO_FEATURES="faer-sparse,pardiso-mkl" -G "Unix Makefiles" \
            -S ./ -B ./build
          cmake --build ./build --target libclarabel_c
      - name: Upload library
        uses: actions/upload-artifact@v5
        with:
          name: lib${{ env.LIB_NAME }}.so
          path: rust_wrapper/target/release/lib${{ env.LIB_NAME }}.so

  build-windows:
    runs-on: windows-latest
    steps:
      - *checkout_lib
      - *checkout_patches
      - name: Build
        shell: bash
        run: |
          git apply this-repo/patches/*.patch
          cmake -DCMAKE_TOOLCHAIN_FILE=C:/vcpkg/scripts/buildsystems/vcpkg.cmake -DVCPKG_TARGET_TRIPLET=x64-windows \
            -DCLARABEL_CARGO_FEATURES="faer-sparse,pardiso-mkl" -DCMAKE_BUILD_TYPE=Release -G "Visual Studio 17 2022" \
            -S ./ -B ./build
          cmake --build ./build --config Release --target libclarabel_c
      - name: Upload library
        uses: actions/upload-artifact@v5
        with:
          name: ${{ env.LIB_NAME }}.dll
          path: rust_wrapper/target/release/${{ env.LIB_NAME }}.dll

  build-macos:
    runs-on: macos-latest
    steps:
      - *checkout_lib
      - *checkout_patches
      - name: Build
        shell: bash
        run: |
          git apply this-repo/patches/*.patch
          cmake -DCMAKE_BUILD_TYPE=Release -DCLARABEL_CARGO_FEATURES="faer-sparse" -G Xcode -S ./ -B ./build
          cmake --build ./build --config Release --target libclarabel_c
      - name: Upload library
        uses: actions/upload-artifact@v5
        with:
          name: lib${{ env.LIB_NAME }}.dylib
          path: rust_wrapper/target/release/lib${{ env.LIB_NAME }}.dylib
